<footer class="footer flex">
	<div class="flex flex-vcenter">
		<img class="signature" src="/assets/img/signature-white.svg">
		<p class="watermark font-DDIN f1">By AIMMXI</p>
		<div class="versions">
			<i class="block mb-0 font-DDIN f0-75">Platform 1.2r0</i>
			<i class="block mb-0 font-DDIN f0-75">Content 20250609</i>
		</div>
	</div>
		

	<div class="icon-c flex flex-vcenter">
		<a href="/assets/files/btc.txt"><img class="coin" src="/assets/img/icons/btc.svg"></a>
		<a href="/assets/files/xmr.txt"><img class="coin" src="/assets/img/icons/xmr.svg"></a>
	</div>
	<div class="rss-c flex flex-vcenter">
		<a href="/assets/files/feed.rss"><img class="icon" src="/assets/img/icons/news.svg"></a>
	</div>
</footer>
