<footer class="footer flex">
	<div class="flex items-center">
		<img class="signature" src="/assets/img/signature-white.svg">
		<p class="watermark font-DDIN text-sm">By AIMMXI</p>
		<div class="versions">
			<i class="block mb-0 font-DDIN text-xs">Platform 1.2r0</i>
			<i class="block mb-0 font-DDIN text-xs">Content 20250609</i>
		</div>
	</div>
		

	<div class="icon-c flex items-center">
		<a href="/assets/files/btc.txt"><img class="coin" src="/assets/img/icons/btc.svg"></a>
		<a href="/assets/files/xmr.txt"><img class="coin" src="/assets/img/icons/xmr.svg"></a>
	</div>
	<div class="rss-c flex items-center">
		<a href="/assets/files/feed.rss"><img class="icon" src="/assets/img/icons/news.svg"></a>
	</div>
</footer>
