	<title>{{ .Site.Title }} - {{ .Title }}</title>
	<meta charset="UTF-8">
	<meta name="description" content="{{ .Site.Params.description }}"/>
	<meta name="author" content="AIMMXI"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/assets/img/icons/icon.png">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/footer.css">