<nav class="navbar flex">
	<div class="back-c">
		<a class="back flex items-center nothover" href="/index.html?noanim"><img class="back-icon" src="/assets/img/icons/arrows-back.svg"></a>
	</div>

	<div class="navbar-void"></div>

	<div class="dropdown navbar-elem text-center">
		<img class="navbar-icon" src="/assets/img/icons/about.svg">
		<p class="mb-5 text-black font-DDINBold text-center">About</p>
		<div class="dropdown-c">
			<a class="navbar-link notvisited text-center" href="/about/bio/">Biography</a>
			<a class="navbar-link notvisited text-center" href="/about/specs/">Hardware & Specs</a>
			<a class="navbar-link notvisited text-center" href="/about/blog/">Blog & Updates</a>
		</div>
	</div>
	<div class="dropdown navbar-elem text-center">
		<img class="navbar-icon" src="/assets/img/icons/projects.svg">
		<p class="mb-5 text-black font-DDINBold text-center">Projects</p>
		<div class="dropdown-c">
			<a class="navbar-link notvisited text-center" href="/error/wip">Agriculture</a>
			<a class="navbar-link notvisited text-center" href="/projects/computing/">Computing</a>
			<a class="navbar-link notvisited text-center" href="/projects/misc/">Misc. Projects</a>
		</div>
	</div>
	<div class="dropdown navbar-elem text-center">
		<img class="navbar-icon" src="/assets/img/icons/galleries.svg">
		<p class="mb-5 text-black font-DDINBold text-center">Galleries</p>
		<div class="dropdown-c">
			<a class="navbar-link notvisited text-center" href="/galleries/models/">Models</a>
			<a class="navbar-link notvisited text-center" href="/galleries/photo/">Photography</a>
		</div>
	</div>
</nav>
