/* .title-back{background-image: url("/assets/img/animated-bgs/photo.gif");} */
.model{
	border: 3px solid var(--cyan);
	margin: 10px;
	width: 17rem;
	height: 28rem;
	flex-direction: column;
}

.model-img{
	width: 100%;
	margin: 0px;
	border-bottom: 3px solid var(--cyan);
}

.model-body{
	background-color: black;
	height: 100%;
	padding: 1.5rem;
}

.model-footer{border: 3px solid var(--cyan);}
.model-footer-download-c, .model-footer-links-c {background-color: var(--cyan);}

.model-footer-download-c{
	width: 100%;
	margin-right: 0.25rem;
	padding: 0.5rem;
}

.model-footer-links-c{padding: 0px 0.5rem 0px 0.5rem;}

.download-link{margin-right: 10px;}
.download-link:hover{margin-right: 8px;}		/*Workaround to compensate for border sizes*/
.download-link:link{color: black;}

/*----------Small---------*/
@media screen and (max-width: 640px) {
}