/* .title-back{background-image: url("/assets/img/animated-bgs/photo.gif");} */

.abstract, .listing-main{width: var(--bodywidth);}

.abstract{
	position: relative;
	margin-top: 50px;
	background-color: black;
}

.abstract-txt{margin: 30px;}

.model{
	border: 3px solid var(--cyan);
	margin: 10px;
	width: 300px;
	height: 450px;
	flex-direction: column;
}



.model-img{
	width: 100%;
	margin: 0px;
	border-bottom: 3px solid var(--cyan);
}

.model-body{
	background-color: black;
	height: 100%;
	padding: 20px;
}

.model-subt{
	margin: 5px 0px 10px 0px;
}

.model-desc{font-size: 12pt;}

.model-credits{
	margin-bottom: 0px;
	font-size: 10pt;
}

.model-footer{
	border: 3px solid var(--cyan);
}

.model-footer-download-c, .model-footer-links-c {background-color: var(--cyan);}

.model-footer-download-c{
	width: 100%;
	margin-right: 5px;
	padding: 10px;
}

.model-footer-links-c{padding: 0px 10px 0px 10px;}

.download-link{margin-right: 10px;}
.download-link:hover{margin-right: 8px;}		/*Workaround to compensate for border sizes*/
.download-link:link{color: black;}
