/*----------Animations---------*/
* {animation-delay: 0s;}

/*----------Logos---------*/
.grow{
	animation-name: grow;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes grow{
	0% { transform: scale(1); }
	50% { transform: scale(1.05); }
	100% { transform: scale(1); }
}

.grow-hover{transition: transform 0.15s ease-out;}
.grow-hover:hover{transform: scale(1.15);}

.rotate{
	animation-name: rotate;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes rotate{
	0% { transform: rotate(-3deg); }
	50% { transform: rotate(-7deg); }
	100% { transform: rotate(-3deg); }
}

.rotate-backwards{
	animation-name: rotate-backwards;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes rotateBackwards{
	0% { transform: rotate(3deg); }
	50% { transform: rotate(5deg); }
	100% { transform: rotate(3deg); }
}

.rotate-fast{
	animation-name: rotate;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes rotateFast{
	0% { transform: rotate(-3deg); }
	50% { transform: rotate(-28deg); }
	100% { transform: rotate(-3deg); }
}

.float{
	animation-name: float;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes float{
	0% { transform: translate(0,  0px); }
	50%  { transform: translate(0, 15px); }
	100%   { transform: translate(0, 0px); }
}

.float-slow{
	animation-name: floatSlow;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.float-slow:hover{animation-play-state: paused;}
@keyframes floatSlow{
	0% { transform: translate(0,  0px); }
	50%  { transform: translate(0, 5px); }
	100%   { transform: translate(0, 0px); }
}

.checkthis{
	animation-name: checkThis;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes checkThis{
	0% { transform: scale(1); }
	40% { transform: scale(1); }
	45% { transform: scale(1.05); }
	50% { transform: scale(1); }
	55% { transform: scale(1.05); }
	60% { transform: scale(1); }
	100% { transform: scale(1); }
}

.fade-in{
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

@keyframes fadeIn{
  from { opacity: 0; }
  to { opacity: 1; }
}

.stretch-x{
	animation-name: stretchX;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes stretchX{
  0% { transform: scaleX(1); }
  25% { transform: scaleX(1.08); }
  50% { transform: scaleX(1); }
  75% { transform: scaleX(0.92); }
  100% { transform: scaleX(1); }
}

.stretch-y{
	animation-name: stretchY;
	animation-duration: 5s;
	animation-delay: 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes stretchY{
  0% { transform: scaleY(1); }
  25% { transform: scaleY(1.08); }
  50% { transform: scaleY(1); }
  75% { transform: scaleY(0.92); }
  100% { transform: scaleY(1); }
}

.stretch-xy{
	animation-name: stretchXY;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
@keyframes stretchXY {
  0% { transform: scale(1, 1.08); }
  25% { transform: scale(1.08, 1); }
  50% { transform: scale(1, 0.92); }
  75% { transform: scale(0.92, 1); }
  100% { transform: scale(1, 1.08); }
}


/*----------Titles---------*/
@keyframes expandTitle{
	from { width: 0; }
	to { width: var(--titlewidth); }
}

@keyframes titleOverflow{
  	0% { overflow: hidden; white-space: nowrap; }
  	99% { overflow: hidden; white-space: nowrap; }
 	100% { overflow: auto; white-space: wrap; }
}


/*----------Badges---------*/
@keyframes scan{
	/* Start off-screen */
	0% {top: 100%; left: -150%;}
	80% {top: 100%; left: -150%;}
	100% {top: 0%; left: 50%;}
}


/*----------Photos---------*/
.throw-photo-left{
	animation: throwPhotoLeft 1s var(--curve-quart) forwards;
	animation-name: throwPhotoLeft;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;			/* TODO */
}
@keyframes throwPhotoLeft{
	from {transform: translateX(100vw) rotate(10deg);}
	to {transform: translateX(0) rotate(-10deg);}
}

.throw-photo-right{animation: throwPhotoRight 1s var(--curve-quart) forwards;}
@keyframes throwPhotoRight{
	from {transform: translateX(-100vw) rotate(0deg);}
	to {transform: translateX(0) rotate(10deg);}
}