/*----------Blog entries---------*/
.blog-title-c{
	width: var(--titlewidth);
	margin: 30px auto 30px auto;
	padding: 20px;
	background-color: #FFFFFF40;
	border-left: 3px solid var(--cyan);
	backdrop-filter: blur(10px);
	box-sizing: border-box;
}

.details{
	margin-left: auto;
	padding-left: 15px;
	border-left: 3px dotted var(--cyan);
	height: 100%;
}