/*----------Errors---------*/
body{
	background-image: url("/assets/img/bgs/bg.gif");
	background-color: #071511;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
	background-position: center;
    overflow: hidden;
}

main{
    width:100vw;
    height:100vh;
    flex-direction: column;
    display: flex;
}

.main-box{height: 100vh;}
.reinier{display: block;}

.textbox{
    border-left: 3px solid var(--cyan);
    padding: 20px;
    margin: 20px;
}

.bg-noise{
    background: url("/assets/img/bgs/noise.png");
    opacity: 0.095;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    overflow: hidden;
}


/*----------Responsive Design---------*/
/*----------Medium---------*/
@media screen and (max-width: 768px){
    .main-box{
        display: block; 
        height: fit-content; 
        margin:auto;
    }

    .reinier{margin: auto;}
    .textbox{
        height: 40vh;
        display: block;
        border-left: none;
        border-top: 3px solid var(--cyan);
    }
}