.footer{
	background-color: #101d1f80;
	border: 3px solid var(--cyan);
	backdrop-filter: blur(10px);
	width: var(--footerwidth);
	margin: 40px auto 20px auto;
}

.signature, .watermark, .versions{margin-left: 10px;}
.watermark{margin-bottom: 0px;}
.icon-c, .rss-c{background-color: var(--cyan);}

.icon-c{
	margin-left: auto; 
	margin-right: 5px;
	padding: 5px;
}

.icon{width: 3rem;}
.signature, .coin{width: 2rem;}
