/*----------Grid---------*/
.grid-display{
	margin: 2rem auto 2rem auto;
	width: var(--bodywidth);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow: auto;
	background-color: var(--greyshade);
	backdrop-filter: blur(10px);
}