/*----------Macros---------*/
/*--------Font size--------*/
.text-xs{font-size: 0.75rem;}
.text-sm{font-size: 1rem;}
.text-md{font-size: 1.25rem;}
.text-xl{font-size: 1.5rem;}
.text-2xl{font-size: 1.75rem;}
.text-3xl{font-size: 2rem;}

/*----------Widths---------*/
.w-2xs{width: 16rem;}
.w-xs{width: 18rem;}
.w-sm{width: 24rem;}
.w-md{width: 28rem;}
.w-full{width: 100%;}


/*--------Alignment--------*/
.mx-auto{margin-left: auto; margin-right: auto;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.whitespace-nowrap{white-space: nowrap;}

/*--------Margins-----------*/
.m-0{margin: 0;}
.mb-0{margin-bottom: 0px;}
.mb-5{margin-bottom: 5px;}
.mb-10{margin-bottom: 10px;}
.mb-20{margin-bottom: 20px;}
.mb-30{margin-bottom: 30px;}
.ml-auto{margin-left: auto;}
.ml-0{margin-left: 0px;}
.ml-5{margin-left: 5px;}
.ml-10{margin-left: 10px;}
.mr-auto{margin-right: auto;}
.mr-0{margin-right: 0px;}
.mr-5{margin-right: 5px;}
.mr-10{margin-right: 10px;}

.block{display: block;}
.flex{display: flex;}
.justify-center{justify-content: center;}
.items-center{align-items: center;}
.invisible{visibility: hidden;}

.text-black{color: black; text-decoration-color: black;}
.text-white{color: white;}
.text-cyan{color: var(--cyan);}