<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
	<link rel="stylesheet" type="text/css" href="/assets/css/blog-post.css">
</head>


<body>
    {{ partial "navbar.html" . }}

	<main>
		<section class="blog-title-c flex items-center">
			<h1 class="text-3xl">> {{ .Title }} </h1>
			<div class="details">
				<p class="mb-0 whitespace-nowrap">{{ .Date | dateFormat "2006-01-02" }}</p>
				<p class="mb-0 whitespace-nowrap">By AIMMXI</p>
			</div>
		</section>

		<section class="content-c">
			<div class="content">
            	{{ .Content }}
			</div>
		</section>
	</main>

    {{ partial "footer.html" . }}
</body>
