<div class="project-link-c flex">
	<p class="project-link-txt flex items-center font-DDINBold">{{ .Get 0 }}</p>

	{{/* Store the path and args in variables */}}
	{{ $targetPath := "galleries/models/" }}
	{{ $targetTag := .Get 1 }}
	{{ $folder := .Site.GetPage $targetPath }}

	{{/* Iterate over all the leaf bundles recursively until a .md file contains the same tag as arg 1 */}}
	{{ if $folder }}
    	{{ range $folder.RegularPagesRecursive }}
        	{{ if eq .Params.filetag $targetTag }}
				<a class="project-link flex items-center" href="/{{ .File.Dir }}{{ $targetTag }}-blend.tar.gz">
					<img src="/assets/img/icons/blender.svg" width="30px" class="mr-5">
					.blend
				</a>
				<a class="project-link flex items-center" href="/{{ .File.Dir }}{{ $targetTag }}-stl.tar.gz">
					<img src="/assets/img/icons/misc.svg" width="30px" class="mr-5">
					.stl
				</a>
        	{{ end }}
    	{{ end }}
	{{ end }}
	
	<a class="project-link flex items-center" href="{{ .Get 2 }}">
		<img src="/assets/img/icons/thingiverse.png" width="30px" class="mr-5">
		Thingiverse
	</a>
</div>