.footer{
	background-color: #101d1f80;
	border: 3px solid var(--cyan);
	backdrop-filter: blur(10px);
	width: var(--footerwidth);
	margin: 40px auto 20px auto;
}
.signature{margin-left: 10px;}
.watermark, .version, .support{margin: 20px 0px 20px 5px;}

.icon-c, .rss-c{
	background-color: var(--cyan);
	padding: 0 5px 0 5px;
}

.icon-c{margin-left: auto; margin-right: 5px;}
.icon{width: 48px;}
.coin{width: 32px;}
