<!DOCTYPE html>
<html lang="en">
<head>
	{{ partial "head.html" . }}
	<link rel="stylesheet" type="text/css" href="/assets/css/grid.css">
	<link rel="stylesheet" type="text/css" href="./photo.css">
</head>


<body>
	{{ partial "navbar.html" . }}

	<main>
		{{ partial "slide-header.html" . }}

		{{ partial "abstract.html" . }}

		<section class="grid-display">
			{{ range .Params.images }}
					<div class="thumb-c" data-filename="{{ . }}"><img class="thumb" src="./thumbs/{{ . }}"></div>
			{{ end }}


			{{ range .Resources.ByType "image" }}
  				<img src="{{ .RelPermalink }}" alt="{{ .Name }}" style="max-width: 300px;">
			{{ end }}
		</section>
	</main>

	{{ partial "footer.html" . }}

	<div class="overlay flex justify-center" id="photo-overlay">
		<div class="overlay-img-c flex items-center justify-center">
			<img class="overlay-img" id="photo" src="">
		</div>
		<div class="overlay-label-c flex items-center justify-center">
			<p id="photo-label" class="overlay-label text-black"></p>
		</div>
	</div>

	<script src="/assets/js/type-text.js"></script>
	<script src="/assets/js/gallery.js"></script>
</body>
