<!DOCTYPE html>
<html lang="en">
<head>
	{{ partial "head.html" . }}
	<link rel="stylesheet" type="text/css" href="./bio.css">
</head>


<body>
	{{ partial "navbar.html" . }}

	<main>
		<section id="showcase-c" class="showcase-c mx-auto">

  		<img src="/assets/img/ff.png" class="ff">
  		<img src="/assets/img/ff.png" class="ff">
  		<img src="/assets/img/ff.png" class="ff">
  		<img src="/assets/img/ff.png" class="ff">
  		<img src="/assets/img/ff.png" class="ff">
  		<img src="/assets/img/ff.png" class="ff">
  		<img src="/assets/img/ff.png" class="ff">
  		<img src="/assets/img/ff.png" class="ff">
  		<img src="/assets/img/ff.png" class="ff">
  		<img src="/assets/img/ff.png" class="ff">
  		<img src="/assets/img/ff.png" class="ff">
  		<img src="/assets/img/ff.png" class="ff">
  		<img src="/assets/img/ff.png" class="ff">
  		<img src="/assets/img/ff.png" class="ff">

    		<div class="showcase flex">
				<div class="showcase-photo flex items-center justify-center">
					<div class="showcase-photo-rotated">
						{{ partial "framed-photo.html" (dict
							"photo" "./bio_photo.png"
							"background" "/assets/img/bgs/perlin.gif"
						) }}
					</div>
				</div>
				<div class="showcase-text m-auto">
					<div class="flex mt-20">
						<h1 class="font-bytesized shaded text-5xl mb-20">AIMMXI</h1>
						<div class="badge-c inline-block grow-hover">
							<div class="badge rotate-fast">
  								<div class="badge-shine"></div>
							</div>
						</div>
					</div>
					
					<h5 id="typeText" data-subtext="{{ .Params.Caption1 }}" data-speed="{{ .Params.Speed1 }}" data-timeout="{{ .Params.Timeout }}" class="shaded font-DDIN"></h5>
					<h5 id="typeText2" data-subtext="{{ .Params.Caption2 }}" data-speed="{{ .Params.Speed2 }}" data-timeout="{{ .Params.Timeout }}" class="shaded font-DDIN"></h5>
					<h5 id="typeText3" data-subtext="{{ .Params.Caption3 }}" data-speed="{{ .Params.Speed3 }}" data-timeout="{{ .Params.Timeout }}" class="shaded font-DDIN"></h5>
					<br>
					<i id="typeText4" data-subtext="{{ .Params.Caption4 }}" data-speed="{{ .Params.Speed4 }}" data-timeout="{{ .Params.Timeout }}" class="shaded font-DDIN"></i>

					<!-- Next to name badge -->
					
				</div>
    		</div>
		</section>

<!-- 
		<svg>
  			<path id="nameScratch"
       			d="m 43.821267,78.196032 c -1.825927,18.555465 0.7335,33.273748 4.460846,46.970098 l 8.396891,-43.821263 1.836819,43.034053 9.184098,-41.72204 3.148833,43.29646 7.872084,-47.494905 5.510458,45.920485 7.347278,-43.034053 1.574419,42.246853 4.198443,-42.246853 9.708904,45.920483 0.78721,-46.445289 9.7089,42.246849 c 5.42299,-12.15799 6.29767,-25.715472 2.62403,-40.672433"
       			/>
		</svg>
-->

		<section class="desc-c flex mx-auto">
			<div class="desc-txt">
				<h2>About me</h2>
				<br>
				<p>I am AIMMXI (Ax for short), a CS student based in northern Spain that loves creating, experimenting and tinkering with technology amongst many other things.</p>

				<p>I have always been drawn to intricate creations that are beyond my understanding; it sparks my curiosity and delving into their inner workings is really satisfying and interesting. Computers, for example, are incredibly complex and practically limitless in terms of what they enable you to do.</p>

				<p>After years of being a spectator of other people's creations I came to the conclusion that I wanted to contribute to the world with my very own creative projects. In 2021, I started developing and building my own projects, and since then, I have been looking forward to learning new skills and making new inventions.</p>

				<p>I have plenty of hobbies and interests, but I would consider my main ones to be the following</p>

			</div>
		</section>
		<section class="insights-c flex mx-auto">
			<div class="insight1 text-white">
				<h2>Technology</h2>
				<br>
				<p>Due to my background in CS and IT, I've grown to like all things technology-related, such as <i class="text-cyan">electronics</i> and materializing things through practical <i class="text-cyan">3D modeling</i>  and 3D printing. Of course, I still enjoy some other IT-related activities such as <i class="text-cyan">systems administration</i> or some casual <i class="text-cyan">programming</i> sessions from time to time.</p>
			</div>
			<div class="insight2">
				<h2 class="text-black">Nature</h2>
				<br>
				<p class="text-black">For several years computing stood out as my main hobby, but since I was raised in a rural area, <i class="text-white">nature</i> and <i class="text-white">agriculture</i> were part of my childhood, and I have grown to like them even more. I enjoy strolls through natural, quiet environments and occasionally participate in <i class="text-white">photography</i>.</p>
			</div>
			<div class="insight3 text-black">
				<h2 class="text-black">Tinkering</h2>
				<br>
				<p class="text-black">More recently I've developed an interest in tinkering and creating physical objects. I've started to learn about <i>woodworking</i> as well as basic <i>mechanical engineering</i> to aid with larger projects. There's plenty of other miscellaneous, much smaller topics I enjoy, but since I do not have the time to pursue all of them, it remains mostly insignificant.</p>
			</div>
		</section>
		<section class="abtpage-c flex mx-auto">
			<div class="abtpage-txt t">
				<h2 class="text-black">About this webpage</h2>
				<br>
				<p class="text-black"> This webpage is meant to be a homepage/portfolio and an archive of my main projects. Since social networks are lacking in terms of customization and freedom, a webpage allows me to organize all of my work and thoughts as I want. It is also a fun project in itself. Designing something that is aesthetically pleasing, lightweight, minimalistic, consistent, and functional from scratch.</p>

				<p class="text-black">If you want to give me a heads up, report an erratum, ask any questions or just send a greeting, you can mail me at <i>aimmxi(at)aimmxi(dot)xyz</i>. I will be more than glad to reply to you; feedback is always appreciated !</p>

				<p class="text-black">If you like my work, please consider donating, as keeping a server up has operating costs. I currently only accept crypto in the form of <a href="/assets/files/btc.txt">Bitcoin</a> or <a href="/assets/files/xmr.txt">Monero</a> for privacy reasons (Sorry for the inconvenience).</p>

				<p class="text-black">Thanks for the visit and I hope you enjoy your stay :]</p>
				
				<img class="endsig" src="/assets/img/signature-docked.svg">
			</div>
		</section>
	</main>

	{{ partial "footer.html" . }}

	<script src="/assets/js/type-text.js"></script>
	<script src="/assets/js/throw-photo.js"></script>
	<script src="/assets/js/fireflies.js"></script>
	<script src="/assets/js/scratch.js"></script>
	<script>
		// Animate the scratch at the end of the name
		animateScratch(["/assets/img/brush.png"], "nameScratch", "nameScratchCanvas", 20, 150, 8, 50);
	</script>
</body>
