<!DOCTYPE html>
<html lang="en">
<head>
	{{ partial "head.html" . }}
	<link rel="stylesheet" type="text/css" href="/assets/css/anims.css">
	<link rel="stylesheet" type="text/css" href="./index.css">
</head>

<body id="body">
	<!-- Splash screen -->
	<div id="splash-c" class="splash-c fade flex justify-center items-center">
		<div class="disclaimer">
			<div class="disclaimer-body">
				<h1 class="text-3xl mb-20">Disclaimer</h1>
				<p class="mb-10">This website is mostly based on HTML and CSS, but uses some custom Javascript for small animations and reactive behaviour. A Javascript-capable browser is required for rendering this webpage.</p>
				<p>No cookies, analytics or any form of tracking are used. Your visit is private.</p>
			</div>
			<div class="disclaimer-footer flex">
				<div class="disclaimer-footer-link flex justify-center">
					<a id="splash-button" class="flex items-center text-2xl font-DDINBold">Enter</a>
				</div>
				<div class="disclaimer-footer-sig">
					<img class="signature" src="/assets/img/signature.svg" width=35px>
				</div>
			</div>
		</div>
	</div>

	<!-- Spinning logo -->
	<header class="logo float text-center">
		<div class="rotate mx-auto">
			<div class="grow mx-auto">
				<img class="logo-img" src="/assets/img/logo.png">
			</div>
		</div>
		<div class="tld rotate-backwards">
			<img class="tld-img" src="/assets/img/tld.png">
		</div>
	</header>

	<!-- Main container and footer -->
	<main class="main-section flex justify-center">
		<section class="about-c float-slow">
			<div class="about-header flex items-center">
				<img height=42px class="m-0" src="/assets/img/icons/about.svg">
				<p class="header-txt font-DDINBold text-black text-xl">About</p>
			</div>
			<div class="about-body moody-blur">
				<p class="text-xl">> <a href="/about/bio/">Biography</a></p>
				<p class="text-xl">> <a href="/about/specs/">Hardware & Specs</a></p>
				<p class="text-xl">> <a href="/about/blog/">Blog & Updates</a></p>
			</div>
		</section>
		<section class="projects-c float-slow">
			<div class="projects-header flex items-center">
				<img height=42px class="m-0" src="/assets/img/icons/projects.svg">
				<p class="header-txt font-DDINBold text-black text-xl">Projects</p>
			</div>
			<div class="projects-body moody-blur">
				<p class="text-xl">> <a href="/error/wip/">Agriculture</a></p>
				<p class="text-xl">> <a href="/projects/computing/">Computing</a></p>
				<p class="text-xl">> <a href="/projects/misc/">Miscellaneous</a></p>
			</div>
		</section>
		<section class="galleries-c float-slow">
			<div class="galleries-header flex items-center">
				<img height=42px class="m-0" src="/assets/img/icons/galleries.svg">
				<p class="header-txt font-DDINBold text-black text-xl">Galleries</p>
			</div>
			<div class="galleries-body moody-blur">
				<p class="text-xl">> <a href="/galleries/models/">Models</a></p>
				<p class="text-xl">> <a href="/galleries/photo/">Photography</a></p>
			</div>
		</section>
	</main>

	{{ partial "footer.html" . }}

	<script src="/assets/js/splash.js"></script>
</body>
