/*----------Specs---------*/
main{overflow-x: hidden;}

.computing-c, .hardw-c{
	width: var(--bodywidth);
	position: relative;
	margin-top: 3.25rem;
}

.computing-img-top-c, .computing-img-bottom-c, .computing-txt-c, .hardw-txt-c {width: 50%;}
.computing-img-top-c{flex-wrap: wrap;}

.computing-txt-c, .hardw-txt-c {
	padding: 2rem;
	background-color: black;
}

.photo-frame-centered{margin: 4rem;}

.photo-bg{
	width: 85%;
	padding-bottom: 15%;
}

/*----------Responsive Design---------*/
/*----------Large---------*/
@media screen and (max-width: 1024px) {
	.computing-c, .hardw-c{display: block;}
	.hardw-c{margin-top: 2rem;}
	.computing-img-top-c{flex-wrap: nowrap;}
	.computing-img-top-c, .computing-img-bottom-c, .computing-txt-c, .hardw-txt-c{width: auto;}
}

/*----------Medium---------*/
@media screen and (max-width: 768px) {
	:root{	
		--navbarwidth: 97vw;
		--bodywidth: 95vw;
		--titlewidth: 95vw;
		--footerwidth: 95vw;
	}
	html{font-size: 16px;}
}

/*----------Small---------*/
@media screen and (max-width: 640px) {
	html{font-size: 12px;}
	.content{margin: 20px;}
}